<div class="container-fluid">
  <div class="row justify-content-end search">
    <form [formGroup]="LogForm" autocomplete="off" novalidate (ngSubmit)="submit()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Keyword to search" formControlName="Keyword" placeholder="Search word....">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
  </form>
</div>
<div class="row">
  <p id="sentenceText">{{sentences}}</p>
</div>
<div class="row">
  <div class="col-12">
  <div class="accordion" id="sentence">
    <ul class="nav nav-pills">
      <li *ngFor="let api of ActualAPIStatus | keyvalue">
        <a class="tab-button" *ngIf="api.value['value']" data-toggle="collapse" href="{{'#' + api.key}}"
          role="button" aria-expanded="false" attr.aria-controls="{{api.key}}">{{api.value['Description']}}</a>
      </li>
    </ul>
    <div class="collapse" *ngFor="let api of ActualAPIStatus | keyvalue" id="{{api.key}}"
      data-parent="#sentence">
      <div *ngIf="api.value['value'] && api.key=='Sentiment'" class="wrapper">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response3 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response3 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='entities'">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response2 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response2 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='ReGex'">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response5 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response5 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='Semantic'">
        Remaining
      </div>
    </div>
  </div>
</div>
</div>
</div>

