<div class="content-inner-wrapper">
  <div id="main-bar" class="tran-background">
    <div class="container">
      <div id="tagline" class="row">
        <div id="lead-text" class="col-md-6">
          <h1>Analyze <span id="meaning">Meaning</span> from your Text.</h1>

          <div class="lead-row">
            Document cognitive analytics provides the functionality to analyze your text 
            and extract meaningful information from it. It performs multiple actions on text to extract details like sentiment analysis, entity recognition,
            regular expressions, semantics and more.
          </div>
         
          <!-- <div class="signup-row">
            <a href="/signup" class="btn btn-large signup-button lead-button"
              >Free API Key</a
            >
            <a
              href="/demo"
              class="btn btn-large try-button lead-button inverse-button"
              >Try The Demo</a
            >
          </div> -->
        </div>
        <div class="col-md-6">
            <div class="box1">
          <img
            id="letters"
            alt="letters"
            class="right1"
            src="assets/images/dictionary-1149723_1280.jpg"
          />
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-feature-row tran-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="feature-col left">
            <div id="features">
              <ul class="fa-ul sparse-ul">
                <li>
                  <i class="fa-li fa fa-check"></i
                  ><b>Sentiment Analysis</b>.
                  This functionality evaluates sentiment in a supplied text in ad-hock basis, marking the document either as: “POSITIVE”, “NEGATIVE” or “NEUTRAL”.
                  Understanding the sentiment of your customers can benefit a company and provide insight into the following areas:​ <br>
                  <b>Marketing insights</b> – What are the current trends?<br>
                  <b>QoS feedback</b> – How products or services perform?​<br>
                  <b>Customer feedback</b> – What are your customers saying?​
                </li>
                <li>
                  <i class="fa-li fa fa-check"></i><b>Named entities </b>The text is parsed looking for occurrences people’s names.
                </li>
                <li>
                        <i class="fa-li fa fa-check"></i><b>Regular Expression (ReGex extraction)</b>A list of regular expression is saved and searched through the text. A regular expression is a special string defining a search patterns.
                         A RegEx for each of the following patterns is provided: e-mails, phones, PPSs. For each of these categories, an array of the instances belonging to the corresponding category is returned.  
                </li>
                <li>
                        <i class="fa-li fa fa-check"></i><b>Semantic Search</b>
                        Semantic search is a useful technique to enable effective search across large numbers of unstructured and uncategorised documents which provides the following benefits:​
                        <b>Document search </b> – find relevant information quickly.​<br>
                        <b>Similarity search</b> – find semantically similar information & documents.​​                 
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="demo-col right">
                <div class="frame">
            <img
              alt="Natural Language Processing Example"
              src="assets/images/architecturediagram.PNG"
            />
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container bottom-container">
    <div class="row">
      <div class="col-md-6">
        <p>
                Document cognitive analytics uses Machine Learning and related techniques to provide insight into the content of documents uploaded by end 
                users with the goal of being able to use those insights to drive business processes and ensure regulatory alignment. 
        </p>
      </div>

      <div class="col-md-6">
        <div class="feature-col right">
          <div id="try-header"><h3>Try it Out</h3></div>
          <!-- <div>
            <img
              id="down-arrow-left"
              alt="Footer Graphic"
              src="/img/down_arrow_left.png"
            />
          </div> -->
          <form
            method="POST"
            id="contact"
            action="/demo"
            enctype="multipart/form-data"
          >
            <fieldset>
              <input
                type="hidden"
                name="csrf_token"
                value="1575932990##dbeb8362d2679d90de41e97aff4bafed8d8e1add"
              />
              <textarea
                class="input-xlarge"
                id="text-input"
                name="str"
                rows="6"
                [(ngModel)]="str"
              >
              </textarea>
              
              <input
                type="file"
                style="margin-bottom: 1rem"
                (change)="onFileChange($event)"
              />
              <div id="demo-analyze">
                <button
                  id="submit"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Analyze
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
