<div class="content-inner-wrapper">
  <div id="main-bar" class="tran-background">
    <div class="container">
      <div id="tagline" class="row">
        <div id="lead-text" class="col-md-6">
          <br>
          <br>
          <h1>Analyze <span id="meaning">Meaning</span> from your Text.</h1>
          <div class="lead-row" style="height: 300px;">
            Document cognitive analytics provides the functionality to analyze your text
            and extract meaningful information from it. It performs multiple actions on text to extract details like
            sentiment analysis, entity recognition,
            regular expressions, semantics and more.
          </div>
        </div>
        <div class="col-md-6">
          <div class="frame">
            <img id="letters" alt="letters" class="right1" src="assets/images/archi.PNG"
              style="border:5px double black; height: 400px; width: 600px; border-radius: 25px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <p>
          <b>Sentiment Analysis</b>.
          This functionality evaluates sentiment in a supplied text in ad-hock basis, marking the document either as:
          “POSITIVE”, “NEGATIVE” or “NEUTRAL”.
          Understanding the sentiment of your customers can benefit a company and provide insight into the following
          areas:​ <br>
          <b>Marketing insights</b> – What are the current trends?<br>
          <b>QoS feedback</b> – How products or services perform?​<br>
          <b>Customer feedback</b> – What are your customers saying?​
        </p>
      </div>
      <div class="col-md-6">
        <div class="card Temp-Card">
          <div class="d-flex justify-content-end card-header">
            <h5 class="" style="margin-right: auto;margin-bottom: 0;">Sentiment Analysis</h5>
            <button type="button" class="btn btn-dark"
              (click)="Close(1,'Sentiment-Card-Wrapper', 'Sentiment-Card')">Clear</button>
            <button type="button" class="btn btn-primary"
              (click)="onSubmit(1,'Sentiment-Card-Wrapper', 'Sentiment-Card')">Analyze</button>
          </div>
          <br>
          <div class="card-body CardText">
            <textarea class="input-xlarge text-input" name="SentimentText" [(ngModel)]="SentimentText"
              placeholder="Enter your text to analyze here...."></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="Sentiment-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Sentiment" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Sentiment-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text1}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response1 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response1 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><b>Named entities </b>The text is parsed looking for occurrences people’s names.</p>
      </div>

      <div class="col-md-6">
        <div class="card Temp-Card">
          <div class="d-flex justify-content-end card-header">
            <h5 style="margin-right: auto;margin-bottom: 0;">Named entities</h5>
            <button type="button" class="btn btn-dark"
              (click)="Close(2,'Namedentities-Card-Wrapper', 'Namedentities-Card')">Clear</button>
            <button type="button" class="btn btn-primary"
              (click)="onSubmit(2,'Namedentities-Card-Wrapper', 'Namedentities-Card')">Analyze</button>
          </div>
          <br>
          <div class="card-body CardText">
            <textarea class="input-xlarge text-input" name="NamedentitiesText" [(ngModel)]="NamedentitiesText"
              placeholder="Enter your text to analyze here...."></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="Namedentities-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Namedentities" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Namedentities-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text2}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response2 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response2 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>
          <b>Regular Expression (ReGex extraction)</b>A list of regular expression is saved and searched through the
          text.
          A regular expression is a special string defining a search patterns.
          A RegEx for each of the following patterns is provided: e-mails, phones, PPSs. For each of these categories,
          an
          array of the instances belonging to the corresponding category is returned.
        </p>
      </div>

      <div class="col-md-6">
        <div class="card Temp-Card">
          <div class="d-flex justify-content-end card-header">
            <h5 style="margin-right: auto;margin-bottom: 0;">Regular Expression</h5>
            <button type="button" class="btn btn-dark"
              (click)="Close(3,'ReGex-Card-Wrapper', 'ReGex-Card')">Clear</button>
            <button type="button" class="btn btn-primary"
              (click)="onSubmit(3,'ReGex-Card-Wrapper', 'ReGex-Card')">Analyze</button>
          </div>
          <br>
          <div class="card-body CardText">
            <textarea class="input-xlarge text-input" name="ReGexText" [(ngModel)]="ReGexText"
              placeholder="Enter your text to analyze here...."></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="ReGex-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="ReGex" aria-hidden="true"></i></h4>
        </div>
        <div id="ReGex-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text3}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response3 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response3 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>
          <b>Semantic Search</b>
          Semantic search is a useful technique to enable effective search across large numbers of unstructured and
          uncategorised documents which provides the following benefits:​
          <b>Document search </b> – find relevant information quickly.​<br>
          <b>Similarity search</b> – find semantically similar information & documents.
        </p>
      </div>
      <div class="col-md-6">
        <div class="card Temp-Card">
          <div class="d-flex justify-content-end card-header">
            <h5 style="margin-right: auto;margin-bottom: 0;">Semantic Search</h5>
            <button type="button" class="btn btn-dark"
              (click)="Close(4,'Semantic-Card-Wrapper', 'Semantic-Card')">Clear</button>
            <button type="button" class="btn btn-primary"
              (click)="onSubmit(4,'Semantic-Card-Wrapper', 'Semantic-Card')">Analyze</button>
          </div>
          <div class="card-body" style="height: 300px;">
            <input type="text" [(ngModel)]="Searchword" name="Searchword" placeholder="Search Word....."
              style="margin:5px 0px 5px;padding:5px;float: right;">
            <textarea class="input-xlarge text-input" name="SemanticText" [(ngModel)]="SemanticText"
              placeholder="Enter your text to analyze here...." style="height: 230px;padding:5px"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="Semantic-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Semantic" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Semantic-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p id="Text1"></p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response4 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response4 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container bottom-container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Document cognitive analytics uses Machine Learning and related techniques to provide insight into the content
          of documents uploaded by end
          users with the goal of being able to use those insights to drive business processes and ensure regulatory
          alignment.
        </p>
      </div>

      <div class="col-md-6">
        <div class="card Temp-Card">
          <div class="d-flex justify-content-end card-header">
            <h5 style="margin-right: auto;margin-bottom: 0;">Try All</h5>
            <button type="button" class="btn btn-dark" (click)="Close(5,'All-Card-Wrapper', 'All-Card')">Clear</button>
            <button type="button" class="btn btn-primary"
              (click)="onSubmit(5,'All-Card-Wrapper', 'All-Card')">Analyze</button>
          </div>
          <div class="card-body" style="height: 300px;">
            <input type="text" [(ngModel)]="AllSearchword" name="AllSearchword" placeholder="Search Word....."
              style="margin:5px 0px 5px;padding:5px;float: right;">
            <textarea class="input-xlarge text-input" name="SemanticText" [(ngModel)]="Text"
              placeholder="Enter your text to analyze here...." style="height: 230px;padding:5px"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="All-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="All" aria-hidden="true"></i></h4>
        </div>
        <div id="All-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p id="Text2"></p>
              <div class="row accordion" id="sentence">
                <div class="col-3">
                  <ul class="d-flex flex-column" style="padding:0;list-style-type: none;">
                    <li class="link" *ngFor="let api of ActualAPIStatus | keyvalue">
                      <h6>
                        <a *ngIf="api.value['value']" data-toggle="collapse" href="{{'#' + api.key}}" role="button"
                          aria-expanded="false" attr.aria-controls="{{api.key}}">{{api.value['Description']}}</a>
                      </h6>
                    </li>
                  </ul>
                </div>
                <div class="col-9">
                  <div class="collapse" *ngFor="let api of ActualAPIStatus | keyvalue" id="{{api.key}}"
                    data-parent="#sentence">
                    <div *ngIf="api.value['value'] && api.key=='SentimentId'">
                      <div class="card AllCard">
                        <div class="card-body">
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th *ngFor="let value of Response5 | keyvalue" scope="col">{{value.key}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td *ngFor="let value of Response5 | keyvalue">{{value.value}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="api.value['value'] && api.key=='EntitiesId'">
                      <div class="card AllCard">
                        <div class="card-body">
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th *ngFor="let value of Response6 | keyvalue" scope="col">{{value.key}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td *ngFor="let value of Response6 | keyvalue">{{value.value}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="api.value['value'] && api.key=='ReGexId'">
                      <div class="card AllCard">
                        <div class="card-body">
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th *ngFor="let value of Response7 | keyvalue" scope="col">{{value.key}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td *ngFor="let value of Response7 | keyvalue">{{value.value}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="api.value['value'] && api.key=='SemanticId'">
                      <div class="card AllCard">
                        <div class="card-body">
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th *ngFor="let value of Response8 | keyvalue" scope="col">{{value.key}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td *ngFor="let value of Response8 | keyvalue">{{value.value}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>