p {
    font-size: 19px;
}
::-webkit-scrollbar {
    width: 10px;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.Temp-Card{
  width: 100%;
}
.Temp-Card .card-body{
  padding-top: 1px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
ul {
  list-style-type: none;
}
.link{
  background-color: rgba(0,0,0,.03);
  margin-bottom: 5px;
}
.link h6{
  padding: 10px;
}
.link a{
  color:black;
  text-decoration: none !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.btn-dark,.btn-primary{
  margin: 2px;
}
.content-inner-wrapper {
    padding-top: 40px;
    background-color: white;
    padding-bottom: 30px;
}
.wrapper {
  overflow:hidden;
  padding: 0px;
  width: 100%;
  transition: max-height 300ms;
  max-height: 0; /* <---hide by default */
}
.wrapper.open {
  max-height: 1800px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
}
.Outer-Card-Wrapper{
  width: 100%;
  margin-top: 10px;
}
.Outer-Card-Wrapper h4{
  padding: 12px;
}
.Inner-Card-Wrapper{
  overflow-x: scroll;
  margin: 12px;
}
   
#main-bar {
  /*border-bottom: 1px solid #ECECEC;*/
  background-color: #414042;
  padding-bottom: 10px;
  color: white;
  position: relative;
}
  
#tagline {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(65, 64, 66, 0.5);
}
  
#lead-text {
  font-weight: 400;
  margin-top: 36px;
  color: rgb(255, 255, 255);
}
  
.lead-row {
  margin-top: 20px;
  font-size: 24px;
  line-height: 31px;
}
  
.signup-row {
  margin-top: 45px;
}
a.btn.signup-button {
  font-weight: 500;
  background-color: #3d97ee;
  color: white !important;
}
  
a.btn.signup-button:hover {
  text-shadow: none;
  background-color: #414042;
  color: white;
}
  
.lead-button {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
}
  
.try-button {
  border-color: #3d97ee;
  background: none;
  border: 2px solid #3d97ee;
  color: white !important;
  margin-left: 15px;
}
  
a.btn.inverse-button:hover {
  text-shadow: none;
  background-color: #414042;
  color: white;
}
  
#letters {
  margin-top: 76px;
  height: 277px;
}
  
.right {
  padding-left: 60px;
  padding-right: 0px;
}
  
.main-feature-row {
  background-color: #414042;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 50px;
}
  
div.tran-background {
  position: relative;
  z-index: 0;
  background-color: #e0edee;
  color: rgb(12, 11, 11);
}
  
div.tran-background h2 {
  color: white;
}
  
#features {
  margin-top: 20px;
}
  
.sparse-ul li {
  margin-bottom: 35px;
}
  
.bottom-container {
  margin-top: 65px;
  margin-bottom: 30px;
}
  
#try-header {
  margin-right: 10px;
}
.text-input {
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  border-radius: 0;
  text-align: justify;
}
input[type='file']{
  color:blue;
  font-size:25px;
}
.AllCard{
  overflow-x: scroll;
}
.active{
  background-color: orangered;
  color:white;
}
.CardText{
  height: 250px;
}
.CardText textarea{
  padding: 5px;
}