/* This css is for normalizing styles. You can skip this. */
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.form-group {
    display: block;
    margin-bottom: 15px;
}
  
.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
  
.form-group label {
    position: relative;
    cursor: pointer;
}
  
.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
  
.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#text-input {
    width: 500px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    text-align: justify;
}
  
#text-input {
    height: 200px;
    /* width: 351px; */
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    border-radius: 0;
}

.checkApi{
    padding-left: 40px;
}

.nav {
    margin-left: 10px;
    margin-bottom: 18px;
    list-style: none;
}
p{
     padding-left : 12px;
     margin: 0px;
}
.nav > li > a {
    display: block;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.nav li + .nav-header {
    margin-top: 9px;
}
.nav-list {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 0;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
    padding: 3px 15px;
}
.nav-list .active > a, .nav-list .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #4183c4;
}
.nav-list [class^="icon-"] {
    margin-right: 2px;
}
.nav-tabs, .nav-pills {
    *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
    color: #ffffff;
    background-color: #414042;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0;
}
  .nav-tabs.nav-stacked {
    border-bottom: 0;
  }
  .nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  .nav-tabs.nav-stacked > li > a:hover {
    border-color: #ddd;
    z-index: 2;
  }
  .nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
  }
  .nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
  }
  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 1px;
    border-width: 1px;
  }
  .nav-pills .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
  li.active{
    background: red;
  }

.input-group .form-control {
    height: 50px;
    border-color: #000000;
    border-radius:0;
}
.input-group .form-control:focus {
      box-shadow: none;
      border: 2px solid #243c4f;
}
.input-group-btn .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
}
.input-group-btn .btn:hover{
    background-color:#284257;
}
.search{
  margin: 5px;
}
th, td{
  padding: 5px;
}
table{
  margin-left: 17px;
}
td {
  border: solid 1px lightgrey;
}
.wrapper{
    width: 100%;
  }
  .card{
    overflow-x: scroll;
  }
  .card h4{
    padding: 20px;
  }