<div class="container-fluid">
<div class="row justify-content-end">
    <form [formGroup]="LogForm" autocomplete="off" novalidate (ngSubmit)="submit()">
        <textarea class="input-xlarge" placeholder="Enter text to analyze........" id="text-input" formControlName="AnalyzeText" rows="6"></textarea>
        <div class="d-flex">
            Choose Apis:
            <div class="checkApi">
                <div class="form-group" *ngFor="let control of LogForm.controls['APICheckBox'].controls;let i = index">
                    <input type="checkbox" id="{{i}}" value="{{'value-' + i}}'" [formControl]=control />
                    <label for="{{i}}">{{APINames[i]}}</label>
                </div>
            </div>
        </div>
        <input type="file" (change)="onFileChange($event)" />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Analyze</button>
        </div>
    </form>
</div>
<div class="row justify-content-start search" *ngIf="IsVisible">
    <form [formGroup]="SearchForm" autocomplete="off" novalidate (ngSubmit)="search()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Keyword to search" formControlName="Keyword" placeholder="Search word....">
        <span class="input-group-btn">
          <button class="btn" type="submit">Search</button>
        </span>
      </div>
  </form>
</div>
<div class="row">
  <p>{{sentences}}</p>
</div>
<div class="row">
  <div class="col-12">
  <div class="accordion" id="sentence">
    <ul class="nav nav-pills">
      <li *ngFor="let api of ActualAPIStatus | keyvalue">
        <a class="tab-button" *ngIf="api.value['value']" data-toggle="collapse" href="{{'#' + api.key}}"
          role="button" aria-expanded="false" attr.aria-controls="{{api.key}}">{{api.value['Description']}}</a>
      </li>
    </ul>
    <div class="collapse" *ngFor="let api of ActualAPIStatus | keyvalue" id="{{api.key}}"
      data-parent="#sentence">
      <div *ngIf="api.value['value'] && api.key=='Sentiment'" class="wrapper">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <p>{{text3}}</p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response3 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response3 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='entities'">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <p>{{text3}}</p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response2 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response2 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='ReGex'">
        <div class="card">
          <h4><b>Result</b></h4>
          <div class="card-body">
            <p>{{text3}}</p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let value of Response5 | keyvalue" scope="col">{{value.key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let value of Response5 | keyvalue">{{value.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="api.value['value'] && api.key=='Semantic'">
        Remaining
      </div>
    </div>
  </div>
</div>
</div>
</div>